.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #5a189a;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #7b2cbf;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
}
