version: '3'

services:
  accord-postgres:
    image: postgres
    container_name: 'accord-postgres'
    restart: always
    ports:
      - 4001:5432
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_USER=docker
      - POSTGRES_DB=accord_db
    volumes:
      - '/var/lib/postgresql/data'
    networks:
      - accord-network

  accord-redis:
    image: redis:alpine
    container_name: 'accord-redis'
    restart: always
    command: 'redis-server --requirepass docker'
    ports:
      - 4002:6379
    volumes:
      - '/data'
    networks:
      - accord-network

networks:
  accord-network:
    driver: bridge
