version: '3'

services:
  athens-postgres:
    image: postgres
    container_name: 'athens-postgres'
    restart: always
    ports:
      - 4001:5432
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_USER=docker
      - POSTGRES_DB=athens
    volumes:
      - '/var/lib/postgresql/data'
    networks:
      - athens-network

  athens-redis:
    image: redis:alpine
    container_name: 'athens-redis'
    restart: always
    command: 'redis-server --requirepass docker'
    ports:
      - 4002:6379
    volumes:
      - '/data'
    networks:
      - athens-network

  azurite:
    image: 'mcr.microsoft.com/azure-storage/azurite'
    container_name: 'azurite'
    restart: always
    command: 'azurite-blob --blobHost 0.0.0.0'
    ports:
      - 4003:10000
      - 4004:10001
    volumes:
      - '/data'

networks:
  athens-network:
    driver: bridge
