version: '3'

services:
  accord-postgres:
    container_name: 'accord-postgres'
    image: postgres
    restart: always
    ports:
      - 5432
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_USER=docker
      - POSTGRES_DB=accord
    volumes:
      - './volume-data/accord-postgres:/var/lib/postgresql/data'
