version: '3'

services:
  athens-postgres:
    image: postgres
    container_name: 'athens-postgres'
    restart: always
    ports:
      - 4001:5432
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_USER=docker
      - POSTGRES_DB=athens
    volumes:
      - './volume-data/athens-postgres:/var/lib/postgresql/data'
    networks:
      - athens-network

  athens-redis:
    image: redis:alpine
    container_name: 'athens-redis'
    restart: always
    command: 'redis-server --requirepass docker'
    ports:
      - 4002:6379
    volumes:
      - './volume-data/athens-redis:/data'
    networks:
      - athens-network

networks:
  athens-network:
    driver: bridge
