.ServerAvatarContainer {
  position: relative;
  & > .active::after {
    content: '';
    width: 60px;
    height: 60px;
    right: -5px;
    bottom: -5px;
    position: absolute;
    border: 2px solid white;
    border-radius: 13px;
  }
}
